/* footer{
    backgroundColor: '#333',
    color: '#fff',
    textAlign: 'center',
    padding: '20px 0',
    position: 'fixed',
    left: 0,
    bottom: 0,
    width: '100%',
    background-color:#333
  } */